# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist-ssr
/dist
server/dist
*.local
.env

# Server
server/.env
server/dev.db
server/dev.db-journal
server/prisma/dev.db
server/prisma/dev.db-journal
server/uploads/*
!server/uploads/.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
